{% extends "base.html" %}

{% block title %} Bienvenida {% endblock %}

{% block ref %}
<link rel="stylesheet" href="../static/Estilos/estiloHome.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="segundo">
    <div>
        <label for="">Bienvenido {{persona["nombre"]}} - # {{persona["id"]}}</label>
    </div>
    <button type="button" value=" Manejar productos" onclick="location.href = 'crudProducto' ">
        <i class="fas fa-shopping-basket"></i>
        Productos
    </button>
    <button type="button" value="Manejar empleados" onclick="location.href = 'crudUsuario' ">
        <i class="fas fa-users"></i>
        Usuarios
    </button>
</div>
{% endblock %}