body {
    margin     : 0px;
    background : linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
    line-height: 3;
    font-family: 'Raleway', sans-serif;
}

.fa-shopping-basket {
    color     : #00CED1;
    margin-top: 20px;
    text-shadow: 2px 2px 2px black;
}

.center {
    text-align: center;
}

.lbl{
    margin-left: 25px;
}

h1 {
    font-size: 9;
    font     : 'Raleway', sans-serif;
    margin   : 0;
    color:#00CED1 ;
    text-decoration: overline;
    text-shadow: 1px 1px 2px black;
}

.card {
    /*Cuadros contenedores de informacion*/
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition      : 0.3s;
    border-radius   : 5px;
    border          : none;
    width           : 450px;
    background-color: white;
    margin-left     : 420px;
    margin-top      : 40px;
    height          : 500px;
}

.boton_personalizado {
    color           : #000000;
    background-color :#00CED1;
    border-radius   : 6px;
    border          : none;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    margin-left: 10px;
    color: black;
}

.tamaño_imagen_icono {
    width : 70;
    height: 50;
}

.tamañototal {
    margin: 0px;
    height: 100%;
    width : 100%;
}

input {
    height    : 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: #000000 solid 1px;
    border-radius   : 6px;
}

.cajatxt {
    font-family: sans-serif;
    font-size  : 18px;
    font-weight: 400;
    color      : black;
    background : #ffffff;
    height     : 25px;
    width      : 200px;
}

.textofinal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size  : 16px;
    color      : black;
}