.division {
    width: 25%;
    height: 60px;
    float: left
}

.fondoproducto {
    background-color: lightslategray;
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    padding: 10px;
    margin: 10px;
}

.box {
    border: rgb(255, 255, 255) 5px solid;
    background-color: rgba(150, 252, 252, 0.26);
}

.cuadroImg {
    /*Cuadro donde ira contenida la imagen del producto*/
    border: dashed 1.5px black;
    width: 350px;
    height: 200px;
    margin-left: 110px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mitad {
    width: 50%;
}

.item {
    float: left;
}

.container {
    overflow: hidden;
}

.boton_personalizado {
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    height: 30px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #0016b0;
}

.cuadroImg2 {
    /*Cuadro donde ira contenida la imagen del producto*/
    border: dashed 1.5px black;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.containerdos {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image td{
    vertical-align: middle !important;
}
.table-image th {
    vertical-align: middle !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.table {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 1rem !important;
    background-color: transparent !important;
}

.w-25 {
    widows: 25% !important;
}

.img-thumbnail {
    padding: .25rem !important ;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: .25rem !important;
    max-width: 100% !important;
    height: 35% !important;
}

.img-fluid {
    max-width: 100% !important;
    height: 35% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.centrar {
    text-align: center !important;
}

table {
    
    border-bottom: 1px solid rgb(196, 196, 196) !important;
}

th,td {
    border-bottom: 1px solid rgb(233, 231, 231) !important;
}